# Application Settings
APP_PORT_HOST=3000

# Database Settings (Host/Compose configuration)
DB_USER=postgres
DB_PASSWORD=postgres_secure_pass_123
DB_NAME=columb_shop_db
DB_PORT_HOST=5433
TG_GROUP_ID=-1232132109093213
